<div class="homepage-banner">
<!-- check homepage-banner.scss -->

  <div class="banner-image">
      <div class="container">
        <h1 class="title">
            {{site.title}}
        </h1>
      </div>
  </div>


  <div class="container">
    <div class="slug">
      <p>Some short slug about the story such asI am the bees knees (this file is located in /_includes/homepage/banner.html)</p>
    </div>
  </div>

  <section class="byline">
    <div class="container">
      by <a href="#about-author">{{site.author}}</a>
    </div>
  </section>

</div>

